
    body {
        font-family: Arial, sans-serif;
        background-color: white;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
    }
    .dashboard-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .dashboard {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        width: 90%;
        max-width: 1200px;
        background: white;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        margin-top: 20px;
    }
    .box {
        background:#ecf0f1;
        padding: 15px;
        border-radius: 8px;
        text-align: center;
    }
    h2 {
        margin-top: 0;
        color:darkslategrey;
    }
    input, textarea {
        width: 100%;
        padding: 8px;
        margin-top: 5px;
        border: 1px solid white;
        border-radius: 5px;
    }
    input[type="submit"] {
        background:blue;
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        margin-top: 10px;
    }
